<html>
    <script>
        attempt = 3;
        document.addEventListener("DOMContentLoaded", () => {
            life = document.getElementById("lives");
            life.innerHTML = `Attempt: ${attempt}`;
        })
        const makeGuess = async (guess, word) => {
            fetch(`/api/guess/${word}/${guess}`).then(async (res) => {
                myObject = await res.json();
                const currentButton = document.getElementById(guess);

                const color = myObject.isCorrect ? "green" : "red"
                currentButton.style.color = color
                currentButton.disabled = true;
                console.log("correct", myObject.correct_answers)
                console.log("Wrong",myObject.wrong_answers)
                const correct =  document.getElementById("correct")
                const wrong = document.getElementById("wrong")

                correct.innerHTML = `Correct: ${myObject.correct_answers}`
                wrong.innerHTML = `Wrong: ${myObject.wrong_answers}`
                optionList = document.getElementById("option-list");

                nextButton = document.getElementById("next");
                if(myObject.current_difficulty === "hard"){
                    for(let i of optionList.children ){
                        i.disabled = true;
                    }
                    nextButton.style.color = "Gold";
                }else if(myObject.current_difficulty === "medium"){
                    if(!myObject.isCorrect){
                        attempt--;
                        life = document.getElementById("lives");
                        life.innerHTML = `Attempt: ${attempt}`;
                        if(attempt === 0){
                            optionList = document.getElementById("option-list");
                            for(let i of optionList.children){
                                i.disabled = true;
                            }
                            nextButton.disabled = true;
                            document.getElementById(myObject.answer).style.color = "green";
                        }
                    }
                    console.log(myObject.isCorrect, guess)
                    console.log(myObject.isCorrect, guess)

                }
                if(myObject.isCorrect){
                    for(let i of optionList.children){
                        i.disabled = true;
                    }
                }else{
                    currentButton.disabled = true;
                }
            })

        }

        let nextWord = () => {
            window.location.href = '/'
        }

        const reset = async () => {
            fetch('/api/reset').then(
                (res) => {
                const right = document.getElementById("correct");
                const wrong = document.getElementById("wrong");
                right.innerHTML = "Correct: 0"
                wrong.innerHTML = "Wrong: 0"
                window.location.href = '/'
                console.log("reset")
            })
        }

        const setDifficulty = async (difficulty) =>{
            const easyId = document.getElementById("easy");
            const midId = document.getElementById("medium");
            const hardId = document.getElementById("hard");
            console.log("reached")
            const selectedButton = document.getElementById(difficulty);
            easyId.style.color = "black";
            midId.style.color = "black";
            hardId.style.color = "black";
            selectedButton.style.color = "green";
            console.log("2nd phase")
            let data = {difficulty: difficulty};
            fetch('/api/setDifficulty',{
                method: "POST",
                headers: {
                    'Content-Type': 'application/json',
                    },
                body: JSON.stringify(data)

            });
            console.log("end")
            reset()
        };

    </script>
    <head>
        <title>Item Details</title>
        <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    </head>
    <body>
        <div>
            <h2>{{test_word}}</h2>
        </div>
        <ul id="option-list">
        {% for item in guess_options %}
            <button id={{item}} onclick="makeGuess('{{item}}','{{test_word}}')"> {{item}} </button>

        {% endfor %}
        </ul>
        <ul>
            <button style="color: {% if current_difficulty == 'easy' %}green{% else %}black{% endif %};" id="easy" onclick="setDifficulty('easy')"> Easy </button>
            <button style="color: {% if current_difficulty == 'medium' %}green{% else %}black{% endif %};" id="medium" onclick="setDifficulty('medium')"> Medium </button>
            <button style="color: {% if current_difficulty == 'hard' %}green{% else %}black{% endif %};" id="hard" onclick="setDifficulty('hard')"> Hard </button>

            <button onclick="reset()" > Reset </button>
            <button id="next" onclick="nextWord()"> Next </button>
            <h1 id="correct">Correct: {{correct_answers}}</h1>
            <h1 id="wrong">Wrong: {{wrong_answers}}</h1>
        </ul>
        <h1 id="lives"> </h1>
    </body>
</html>